<div class="panel panel-default">
    <div class="panel-heading" id="painel_list"><div class="text-center">Editar Cliente</div></div>
    <div id="painel_body" class="paine-body">
        <%= render 'form' %>
        
        <div class="text-center" id="buttons_show">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-right">
                    <div class="text-center"> <%= link_to 'Pagina do cliente', @cliente, {:style=>'color:black;', :class => "btn btn-default"} %> </div>
                    </div>
                </div>
             
                <div class="col-md-6">
                    <div class="pull-left">
                        <div class="text-center"> <%= link_to 'Voltar', clientes_path,  {:style=>'color:black;', :class => "btn btn-default"} %> </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>