<div class="panel panel-default">
    <div class="panel-heading" id="painel_list"><div class="text-center">Editar Coleção</div></div>
    <div class="text-center">
      <%= render 'form' %>
      
      <%= link_to 'Pagina da coleção', @collection %> |
      <%= link_to 'Voltar', collections_path %>
  </div>
</div>