<h1>Nobalk</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Seja bem vindo ao Nobalk! Clique no link abaixo para ativar sua conta e começar a gerenciar suas vendas!
</p>

<%= @user.right_url(edit_account_activation_url(@user.activation_token, email: @user.email)) %>

Caso voce não tenha criado nenhuma conta apenas ignore esse email.