<h1>Recuperação de Senha</h1>

<p>Para resetar sua senha clique no link abaixo:</p>

<%= @user.right_url(edit_password_reset_url(@user.reset_token, email: @user.email)) %>
<p>O link ira expirar em duas horas.</p>

<p>
Se voce nao requisitou que sua senha fosse resetada, por favor ignore esse email
e sua senha nao sera alterada.
</p>