<h1>Recuperação de Senha</h1>

<p>Para resetar sua senha clique no link abaixo:</p>

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>O link irá expirar em duas horas.</p>

<p>
Se você não requisitou que sua senha fosse resetada,ignore esse email,
sua senha não será alterada.
</p>