<div class="jumbotron">
  <h1 class="text-center">Bem vindo!</h1>
  <div class="row" >
    
    <div class="col-sm-4 col-md-4" >
      <a href="/empresas" >
        <button type="button" class="btn btn-primary btn-lg btn-block buttonAdm">EMPRESAS</button>
      </a>
    </div>
  
    <div class="col-sm-4 col-md-4">
      <a href="/clientes">
        <button type="button" class="btn btn-primary btn-lg btn-block buttonAdm">CLIENTES</button>
      </a>
    </div>
  
    <div class="col-sm-4 col-md-4">
      <a href="/pedidos">
        <button type="button" class="btn btn-primary btn-lg btn-block buttonAdm">PEDIDOS</button>
      </a>
    </div>
    
  </div>
</div>