<div class="panel panel-default">
  <div class="panel-heading" id="painel_list"><div class="text-center">Adicionar Produto</div></div>
  <div class="text-center">
    <%= render 'form' %>
    
    <%= link_to 'Back', items_path %>
  </div>
</div>