<div class="panel panel-default">
    <div class="panel-heading" id="painel_list"><div class="text-center">Editar Cliente</div></div>
    <div class="text-center">
        <%= render 'form' %>
        
        <%= link_to 'Pagina da Empresa', @empresa %> |
        <%= link_to 'Voltar', empresas_path %>
   </div>
</div>