<div class="panel panel-default">
    <div class="panel-heading" id="painel_list"><div class="text-center">Cadastro de Empresa</div></div>
    <div class="text-center">
        <%= render 'form' %>
        
        <%= link_to 'Voltar', empresas_path %>
    </div>
</div>