<div class="panel panel-default">
    <div class="panel-heading" id="painel_list"><div class="text-center">Cadastro de Empresa</div></div>
    <div class="panel-body">
        <%= render 'form' %>
        
        <div class="pull-right">
            <%= link_to 'Voltar', empresas_path, :class => 'btn btn-default'  %>
        </div>
    </div>
</div>