<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="balk-icon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nobalk - Admin</title>

</head>

<body id="body-page">
    <div id="home_in" class="container">
        <div class="row">
		    <div class="col-md-6 col-md-offset-3">
		        <div id="logo_home" class="text-center">
                    <p id="psize"><span class="label label-primary">NOBALK</span></p>
                </div>
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                <%= yield %>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

